.Content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 23%;
  height: 100%;
}

.Content header {
  width: 100%;
}

.Content header img {
  width: 100%;
}
