.Home {
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/vinil-universe.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 6px 6px 10px rgb(0, 0, 0);
  font-size: 35px;
  font-weight: 300;
}

.Home h1 {
  font-family: kabut, sans-serif;
  font-weight: lighter;
  font-size: 200px;
  margin: 0;
  letter-spacing: 6px;
}

.Home input {
  height: 40px;
  width: 400px;
  padding: 10px 30px;
  font-size: 30px;
  border: solid 1px white;
  outline-style: none;
  border-radius: 10px 0 0 10px;
  background: rgba(0,0,0, 0.6);
  color: white;
  margin-top: 50px;
}

.Home input::placeholder {
  color: rgb(226, 214, 214);
}

.Home button {
  font-size: 30px;
  height: 62px;
  width: 60px;
  border: solid 1px white;
  border-left: none;
  vertical-align: top;
  border-radius: 0 10px 10px 0;
  background: rgba(0,0,0, 0.8);
  color: white;
  cursor: pointer;
  margin-top: 50px;
}

.opacity {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, 0.5);
  z-index: 1;
}

.Home span {
  font-family: music;
  font-size: 160px;
  margin: 0 10px;
}

.image {
  height: 100%;
  width: 100%;
  background-image: url('../../images/notes.gif');
  background-size: contain;
  background-repeat: no-repeat;
}