.TrackCard {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  width: 80%;
  margin: 30px 0;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  transition-property: box-shadow;
  transition-duration: 0.5s;
}

.TrackCard:hover {
  box-shadow: 0px 0px 25px white;
}

.TrackCard a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  width: 85%;
  height: 100%;
}

.icon {
  display: flex;
  flex-grow: 1;
  font-size: 80px;
  justify-content: flex-end;
}

.icon span {
  margin: 0 0 0 20px;
}

@media(max-width: 550px) {
  .TrackCard a {
    font-size: 30px;
  }

  .icon span {
    font-size: 55px;
  }
}

@media(max-width: 420px) {
  .TrackCard {
    flex-direction: column;
    height: 200px;
  }

  .icon span {
    font-size: 45px;
  }
}