.ContactCard {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  font-size: 30px;
}

.ContactCard a {
  display: flex;
  align-items: center;
  padding: 5px 9px;
  border-radius: 50%;
}

.Nav .ContactCard a:hover {
  background: white;
  padding: 5px 9px;
  border-radius: 50%;
}