.MessageContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 500px;
  height: 250px;
  top: 30%;
  left: 30%;
  background-color: rgba(100, 0, 0, 0.9);
  color: #ffffff;
  font-size: 30px;
  border-radius: 20px;
  z-index: 2;
}

.MessageContainer button { 
  border: none;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;

}
