.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

@font-face {
  font-family: kabut;
  src: url('./fonts/kabut_hitam/Kabut\ Hitam.ttf');
}

@font-face {
  font-family: lazy;
  src: url('./fonts/lazy_dog.ttf');
}

@font-face {
  font-family: music;
  src: url('./fonts/music_elements/MUSICELE.TTF');
}
