.Nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 350px;
  box-shadow:  5px 5px 25px rgb(83, 82, 82);
  background:rgb(0, 0, 0);
  opacity: 90%;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 23%;
}

.Nav nav {
  flex: 1;
  margin-top: 10px;
}

.Nav ul {
  list-style: none;
  padding: 0;
}

.Nav li {
  display: flex;
  width: 94%;
}

.Nav li a {
  flex: 1;
  padding: 8px 20px 8px 45px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition-property: color;
  transition-property: background-color;
  transition-duration: 0.2s;
}