.Nav {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 350px;
  box-shadow:  5px 5px 25px rgb(83, 82, 82);
  background:rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 23vw;
  transition-property: transform;
  transition-duration: 1s;
}

.Nav nav {
  flex: 1;
  margin-top: 10px;
  width: 100%;
}

.Nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.Nav li {
  display: flex;
  width: 100%;
}

.Nav a:hover {
  background: linear-gradient(to left ,transparent, white 60%, transparent);
  color: black;
  height: 100%;
}

.Nav li a {
  flex: 1;
  padding: 15px 30px 15px 30px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 500;
  transition-property: color;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.Nav button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  right: -40px;
  top: 25%;
  border-radius: 0 50% 50% 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  padding: 5px;
  box-shadow: 3px 0px 6px white;
  font-size: 30px;
}

@media(max-width: 900px) {
  .Nav{
    transform: translateX(-100%);
    width: 35vw;
    
  }
  
  .Nav-visible {
    transform: translateX(0%);
  }
   
  .Nav li a {
    /* font-size: 1.7rem; */
  }
}

@media(max-width: 600px) {
  .Nav{
    width: 50vw;
  }
}

@media(max-width: 450px) {
  .Nav{
    width: 60vw;
  }
}